data
data1
miniodata
.minio.sys
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

__debug_bin

main
dist/
tmp/

# plugins
/plugins

# zinc binary in root
zinc
